examples/invalid credentials logging.json
[{"id":"0de9b825a7890f0c","type":"inject","z":"fbee74db83781e91","name":"start logging invalid credentials","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"log_invalid_credentials","payload":"true","payloadType":"bool","x":1010,"y":940,"wires":[["58f1066639b9f2fa"]]},{"id":"54c177e7ab4ceb13","type":"inject","z":"fbee74db83781e91","name":"stop logging invalid credentials","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"log_invalid_credentials","payload":"false","payloadType":"bool","x":1010,"y":1000,"wires":[["58f1066639b9f2fa"]]},{"id":"58f1066639b9f2fa","type":"ftp-server-ext","z":"fbee74db83781e91","name":"","protocol":"ftp","hostname":"127.0.0.1","port":"7021","rootDirectory":"","authentication":"basic","blacklist":"[\"MKD\"]","whitelist":"[]","autostart":"enable","allowPassive":"block","traceLog":"disable","privateKey":"/home/pi/.node-red\\privkey.pem","publicCertificate":"/home/pi/.node-red\\cert.pem","certificationAuthority":"","passiveAddressResolver":"fixed","passiveDataHostname":"","passiveStartPort":1024,"passiveEndPort":65535,"credentials":{},"x":1260,"y":940,"wires":[[]]}]
