examples/start and stop FTP server.json
[{"id":"3a840622d3277af6","type":"inject","z":"fbee74db83781e91","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start","x":610,"y":780,"wires":[["59520b2ebbcd2d0b"]]},{"id":"bcc245f12d7ddfd0","type":"inject","z":"fbee74db83781e91","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"stop","x":610,"y":840,"wires":[["59520b2ebbcd2d0b"]]},{"id":"eedc5e48847e17bf","type":"debug","z":"fbee74db83781e91","name":"FTP events","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":780,"wires":[]},{"id":"59520b2ebbcd2d0b","type":"ftp-server-ext","z":"fbee74db83781e91","name":"","protocol":"ftp","hostname":"127.0.0.1","port":"7021","authentication":"basic","blacklist":"[\"MKD\"]","whitelist":"[]","autostart":"enable","allowPassive":"block","traceLog":"enable","privateKey":"/home/pi/.node-red\\privkey.pem","publicCertificate":"/home/pi/.node-red\\cert.pem","certificationAuthority":"","passiveAddressResolver":"fixed","passiveDataHostname":"homespy2.duckdns.org","passiveStartPort":1024,"passiveEndPort":65535,"x":780,"y":780,"wires":[["eedc5e48847e17bf"]]}]
